<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="template :: fragment_html_head(title='自動車情報')">
</head>
<body>
	<header th:include="template :: fragment_header(title='自動車情報"></header>
	<h2>自動車情報</h2>

	<table>
		<tr>
			<th>車名</th>
			<td th:text="${car.carName.value}"></td>
		</tr>
		<tr>
			<th>ガソリンタンク容量</th>
			<td th:text="${car.gasolineTankCapacity.value}"></td>
		</tr>
		<tr>
			<th>燃料</th>
			<td th:text="${car.gasolineType.value}"></td>
		</tr>
		<tr>
			<th>メモ</th>
			<td th:text="${car.memo.value}"></td>
		</tr>
	</table>

	<a href="list.html" th:href="@{/car/summary}">一覧へ</a>
	<a href="index.html" th:href="@{/index}">トップページへ</a>

	<footer th:include="template :: fragment_footer"></footer>
</body>
</html>