<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="template :: fragment_html_head(title='車一覧')">
</head>
<body>
	<header th:include="template :: fragment_header(title='車一覧"></header>
	<h2>車一覧</h2>

	<table>
		<tr>
			<th>車名</th>
		</tr>
		<tr th:each="carList:${carSummaryList.list}">
			<td th:text="${carList.carName.value}"></td>
			<td><a href="detail.html" th:href="@{/car/detail/{carId}(carId=${carList.carId.value})}">詳細</a></td>
		</tr>
	</table>

	<a href="index.html" th:href="@{/index}">戻る</a>

	<footer th:include="template :: fragment_footer"></footer>
</body>
</html>